{{ define "main" }}
  <article class="container fillVerticalSpace">
    {{- .Content -}}
    <ul class="simpleListing borderless">
        {{ range .Params.individuals }}
            <li>
                {{ .name | markdownify }}
                <br/>
                {{ .position | markdownify }}
                <br/>
                {{ .institution | markdownify }}
                <br/>
                {{ .contact | markdownify }}
            </li>
        {{ end }}
    </ul>
  </article>
{{ end }}
