<header class="container">
	<nav>
		<!-- Primary Nav -->
		<ul class="mainNavMenu">
			{{ $currentPage := . }}
			{{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
			{{ range .Site.Menus.main }}
				{{ if .HasChildren }}
					<li class='{{if or ($.IsMenuCurrent "main" .) (eq ($firstUrlElement|lower) (.URL|lower)) }}active{{end}} needsSubMenu'>
						<a href="{{ .URL }}">
							{{ .Pre }}
							<span>{{ .Name }}</span>
						</a>
						<ul class="subMenu">
							{{ range .Children }}
								<li class='{{if or ($.IsMenuCurrent "main" .) (eq ($currentPage.RelPermalink) (.URL|lower)) }}active{{end}}'>
									<a href="{{ .URL }}">{{ .Name }}</a>
								</li>
							{{ end }}
						</ul>
					</li>
				{{ else }}
					<li class='{{if or ($.IsMenuCurrent "main" .) (eq ($firstUrlElement|lower) (.URL|lower)) }}active{{end}}'>
						<a href="{{ .URL }}">
							{{ if eq .URL "/" }}
								<img src="/img/AAPILogo1500.png" alt="Circular logo with four quadrants containing stylized line drawings of geologic features, successfully in the shape of the letters A-A-P-I. Top Left (A): Tan volcano with red conduit and magma chamber and white cloud against blue background. Top right (A): Red mountain on Mars with white ice cap, against black background. White celestial bodies representing comet, small planetary body, sun, and asteroid. Bottom left (P): White and blue hurricane represented as clockwise swirl pattern against black background. Bottom right (I): Blue-green tree with orange sun against white background, with empty space on the left, representing deforested land. Wiggly seismogram line separates top and bottom right quadrants.">
							{{ else }}
								{{ .Pre }}
								<span>{{ .Name }}</span>
							{{ end }}
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</nav>	
</header>
